*{
    padding: 1px;
    margin:0;
   /* background-color: #ee6055; */
    font-family: 'Fredoka', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

body{
    background-color: #ee6055;
}

/* wrapper controls the grid layout, rows, columns, spacing and  others exciting stuff*/

.wrapper{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar num1 num2 num3"
    "sidebar footer footer footer";
    grid-gap: 0.2em;
}

/* section below are individual sections of the page -- specify their area on the grid
and other defining attributes*/


nav{
    background-color: #60d394;
    grid-area: nav;
}

main{
    background-color: #aaf683;
    grid-area: main;
    padding: 0.4em;
}

#sidebar{
    background-color: #60d394;
    grid-area: sidebar;
}

#num1{
    background-color: #aaf683;
    grid-area: num1;
}

#num2{
    background-color: #aaf683;
    grid-area:num2
}

#num3{
    background-color: #aaf683;
    grid-area: num3;
}

#footer{
    background-color: #60d394;
    grid-area: footer;
}

/* code for navigation bits below (the fancy pantsy stuff) */ 

#sideMenu 
{
  color: transparent;

}

#sideMenu a
{
  text-decoration: none;
  color: transparent;
}

#sideMenu a:hover
{
  color: transparent;
}

#checkbox{
  display: none;
  visibility: hidden;
  opacity: 0;
}


ul{
  text-align: center;
}

li{
  
  padding: 15px;
}

a{
  color: black;
  
}

a:hover{
  color: blanchedalmond;
  transition: 0.25s;
  font-size: large;
}

/* parts that make the website responsive (user feedback and interactive stuffs */

/* code below makes site suitable for mobile devices by making content maximum of 
1 columns wide. */

@media only screen and (max-width:500px){ /*could change, apparently avg mobile site width (320px).*/
  .wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas: 
    "nav"
    "sideMenu"
    "main"
    "num1"
    "num2"
    "num3"
    "footer";
  }

#sideMenu 
{
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
}

#sideMenu a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#sideMenu a:hover
{
  color: tomato;
}

#sideMenu input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#sideMenu span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#sideMenu span:first-child
{
  transform-origin: 0% 0%;
}

#sideMenu span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#sideMenu input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#sideMenu input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#sideMenu  input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#sideMenu input:checked ~ ul
{
  transform: none;
}

 /*above is hamburger code which can be used at a later date, html tags <span> required..*/


  
}

/* */



